version: "2"
services:
  jenkins:
    image: docker.io/bitnami/jenkins:2-debian-10
    environment:
      DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: "1"
      JAVA_OPTS: ""
      JENKINS_USERNAME: "user"
      JENKINS_PASSWORD: "change this password"
    ports:
      - 8090:8080
      - 8443:8443
      - 50000:50000
    volumes:
      - jenkins_data:/bitnami/jenkins
volumes:
  jenkins_data:
    driver: local
